:root{
--bg-color:#080808;
--second-bg-color:#131313;
--main-color:#00ffee;
--blue-Cyan:rgb(224, 247, 250);
--text-blue-color:#00ffee;
--text-white-color:#ffff;
--text-font-Big:2.2rem;
--text-font-medium:1.2rem;
--text-font-small:0.9rem;
}
html{
overflow-x: hidden;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: "Poppins", sans-serif;
}
a , ul , li , ol {
text-decoration: none;
list-style-type: none;
color: var(--text-white-color);
}
body{
background: var(--bg-color);
color: var(--text-white-color);
}
//loading Part
.loaderHidden{
position: fixed;
width: 100%;
height: 100%;
background: rgb(33, 33, 33 , 0.6); /* لایه نیمه‌شفاف */
backdrop-filter: blur(10px); /* بلور کردن */
display: flex;
align-items: center;
justify-content: center;
z-index: 9999;
.reloadText{
font-weight: 700;
}
}
.logoReload , .reloadText{
width: 100px;
opacity: 0;
animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
0% { opacity: 0; transform: scale(0.5); }
100% { opacity: 1; transform: scale(1.1); }
}
//header Part 
.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 4rem 12% 4rem;
background-color: rgba(0,0,0,0.3);
backdrop-filter: blur(10px);
display: flex;
z-index: 5;
.topNavBar{
display: flex;
flex-direction: row;
position:relative;
width: 100%;
.askLogo{
width:3rem;
margin:1;
transition: 0.3s ease;
}
.text{
display: block;
position: fixed;
margin-top: -1.5rem;
margin-left: 2.9rem;
font-weight: 700;
font-size: var(--text-font-small);
color:var(--main-color);
cursor:pointer;
}
}
.askLogo:hover{
transform: scale(1.1);
}
.text:hover{
text-shadow: 0 0 30px var(--main-color);
}
.rightPart{
display: flex;
flex-direction: row;
margin-left: 75%;
gap: 1rem;
.logIn{
margin-top: 16.5%;
color: var(--text-white-color);
font-weight:600;
font-size: var(--text-font-small);
}
.searchIcon{
display: inline-block;
font-size: var(--text-font-medium);
margin-top: 1.5rem;
margin-right: -0.8rem;
font-size: var(--text-font-medium);
cursor:pointer;
}
}
.logIn:hover , .searchIcon:hover{
color: var(--main-color);
}
.navMenu{
position:fixed;
display: flex;
flex-direction: row;
left:30%;
top: 80%;
justify-content: space-between;
gap: 1.5rem;
text-align: center;
align-items: center;
}
.linkitem:hover ,  .active{
color: var(--main-color);
border-bottom:2px solid var(--text-blue-color);
text-shadow: 0 0 30px var(--main-color);
 }
//  dropmenu
.submenu{
display: none;
position: absolute;
flex-direction: column;
background-color: #ffff;
z-index: 6;
text-align: start;
padding: 5px;
}
.dropdown {
    position: relative;
}
.submenu {
position: absolute;
left: 0; 
top: 100%;
width: 300px; /* تنظیم عرض زیرمنو */
}
.submenuList{
color: #131313;
font-size: var(--text-font-small);
margin:5px;
}
.submenuList:hover{
background: var(--blue-Cyan);
}
// show dropdown Menu
.dropdown:hover .submenu {
display: block;
}

}

// responsive Part

@media screen and (max-width: 1200px) {

}